.card {
    flex: 0 0 auto;
    width: 150px;
    height: 230px;
    margin: 10px;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 2px 10px var(--shadow);
    text-align: center;
}

.card img {
    width: 140px;
    height: 140px;
    padding: 5px 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.card-name {
    padding: 5px 5px;
    margin-left: 15px;
    vertical-align: bottom;
    text-align: left;
    font-size: 18px;
    color: #204553;
    font-family: 'PBSSans';
    line-height: 24px;
}