@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 10px var(--shadow);
    display: flex;
    overflow-x: auto;
}

.nav-link {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'PBSSans', sans-serif;
    font-size: 14px;
    color: var(--secondary);
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.nav-link-active {
    color: var(--primary);
}

.nav-icon {
    font-size: 24px !important;
}