.onboarding-btn {
    position: fixed;
    top: 75px;
    right: 15px;
    height: 40px;
    width: 40px;
    background-color: white;
    color: #204553;
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 24px !important;
    text-decoration: none;
    box-shadow: 0px 2px 10px var(--shadow);
    border: none;
}